<h3>みんなのおすすめ作品</h3>

<p> <%= link_to "TOP", "/index" %> |
<%= link_to "漫画", "/index/comic" %> |
<%= link_to "web漫画", "/index/web_comic" %> |
<%= link_to "小説", "/index/novel" %> |
<%= link_to "web小説", "/index/web_novel" %> |
<%= link_to "アニメ", "/index/anime" %> |
<%= link_to "映画", "/index/movie" %> </p>



<%= form_tag(root_path, method: :get) do %>
        <div class="input-group">
          <%= search_field_tag "q", params[:q], class: "form-control", placeholder: "キーワード検索" %>
          <span class="input-group-btn">
            <%= submit_tag "検索", class: "btn btn-primary" %>
          </span>
        </div>
 <% end %>
 <br>