<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-sm-4">
    <section class="user_info">
      <font size="4"><%= @user.name %></font>
        <% if @user.twitter != nil %>
         <i class="fab fa-twitter fa-lg fa-fw twitter"></i>
         <% id = @user.twitter %>
         <%= link_to "twitter", "https://twitter.com/#{id}" %>
        <% end %>
    </section>
    <section class="stats">
      <%= render 'shared/stats' %>
    </section>
    <section class="one_comment">
    <%= @user.profile %>
    </section>
    <section class="follow_mute">
    <li><%= render 'follow_form' if logged_in? %></li>
    <li><%= render 'mute_form' if logged_in? %></li>
    </section>
  </aside>
  <div class="col-md-8">
    <br>
	  <%= link_to("投稿 (#{@user.microposts.count})","/users/#{@user.id}") %> ｜
  	<%= link_to("お気に入り (#{Like.where(user_id: @user.id).count})" ,"/users/#{@user.id}/like") %>
  	<br>

    	  <br>
	  	<% if @likes.any? %>
      <ol class="microposts">
        <%= render @likes %>
      </ol>
      <%= will_paginate @likes %>
      <hr>
    <% end %>
	</div>
</div>
