<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-sm-4">
    <section class="user_info">
      <font size="4"><%= @user.name %></font>
        <% if @user.twitter != nil %>
         <i class="fab fa-twitter fa-lg fa-fw twitter"></i>
         <% id = @user.twitter %>
         <%= link_to "twitter", "https://twitter.com/#{id}" %>
        <% end %>
    </section>
    <section class="stats">
      <%= render 'shared/stats' %>
    </section>
    <section class="one_comment">
    <%= @user.profile %>
    </section>
    <br><%= render 'follow_form' if logged_in? %>
  </aside>
  <div class="col-md-8">
    <!-- タブ・メニュー -->
    <ul class="nav nav-tabs">
	  <li class="active"><a href="#sampleContentA" data-toggle="tab">投稿 (<%= @user.microposts.count %>) </a></li>
  	<li><a href="#sampleContentB" data-toggle="tab">お気に入り (<%= Like.where(user_id: @user.id).count %>) </a></li>
    </ul>
<!-- タブ内容 -->
    <div class="tab-content">
    	<div class="tab-pane active" id="sampleContentA">
    	  <br>
	  	<% if @user.microposts.any? %>
      <ol class="microposts">
        <%= render @microposts %>
      </ol>
      <%= will_paginate @microposts %>
      <hr>
    <% end %>
	</div>
	
	<div class="tab-pane" id="sampleContentB">
	  <br>
		<ol class="microposts">
		  
		<%= render @likes %>
		  </ol>
      <%= will_paginate @likes %>
      <hr>
    
	</div>
	
		
</div>
  </div>
</div>