<% provide(:title, "Edit post") %>
<h1>投稿の編集</h1>

<%= form_for(@micropost) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <%= f.label :"カテゴリー" %>
  <%= f.select :category, {"小説" => "novel",
                           "漫画" => "comic",
                           "web小説" => "web_novel",
                           "web漫画" => "web_novel",
                           "アニメ" => "anime",
                           "映画" => "movie",}%>
  
  <%= f.label :ジャンル %>
  <%= f.select :genre, {"ファンタジー" => "ファンタジー",
                        "SF" => "SF",
                        "アクション" => "アクション",
                        "恋愛" => "恋愛",
                        "日常" => "日常",
                        "コメディー" => "コメディー",
                        "ヒューマンドラマ" => "ヒューマンドラマ",
                        "ミステリー" => "ミステリー",
                        "ホラー" => "ホラー",
                        "職業" => "職業",
                        "スポーツ" => "スポーツ",
                        "歴史" => "歴史",
                        "グルメ" => "グルメ",
                        "その他"=>"その他"} %>
  
  <%= f.label :ジャンル2（任意） %>
  <%= f.select :genre2, {"なし" => "nil",
    "ファンタジー" => "ファンタジー",
                        "SF" => "SF",
                        "アクション" => "アクション",
                        "恋愛" => "恋愛",
                        "日常" => "日常",
                        "コメディー" => "コメディー",
                        "ヒューマンドラマ" => "ヒューマンドラマ",
                        "ミステリー" => "ミステリー",
                        "ホラー" => "ホラー",
                        "職業" => "職業",
                        "スポーツ" => "スポーツ",
                        "歴史" => "歴史",
                        "グルメ" => "グルメ",
                        "その他"=>"その他"} %>
  
  <%= f.label :ジャンル3（任意） %>
  <%= f.select :genre3, {"なし" => "nil",
                        "ファンタジー" => "ファンタジー",
                        "SF" => "SF",
                        "アクション" => "アクション",
                        "恋愛" => "恋愛",
                        "日常" => "日常",
                        "コメディー" => "コメディー",
                        "ヒューマンドラマ" => "ヒューマンドラマ",
                        "ミステリー" => "ミステリー",
                        "ホラー" => "ホラー",
                        "職業" => "職業",
                        "スポーツ" => "スポーツ",
                        "歴史" => "歴史",
                        "グルメ" => "グルメ",
                        "その他"=>"その他"} %>
  
  <%= f.label :タイトル %>
      <%= f.text_field :title, class: 'form-control' %>
      
  <%= f.label :作者名（任意） %>
      <%= f.text_field :author, class: 'form-control' %>
      
  <%= f.label :"作品のURL（任意）" %>
      <%= f.text_field :url, class: 'form-control' %>
  
  <div class="field">
    <%= f.label :コメント %>
    <%= f.text_area :content %>
  </div>
  <%= f.submit "投稿", class: "btn btn-primary" %>
<% end %>